<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>PDF-EXPORT-TEST</h1>

  <button class="pdf-button" kendo-button #pdfButton (click)="pdf.saveAs('test.pdf')">SAVE AS PDF</button>

  <kendo-pdf-export
    [paperSize]="'A4'"
    [scale]="scale"
    [margin]="{
      top: '5cm',
      right: '1.55cm',
      left: '1.55cm',
      bottom: '1.55cm'
    }"
    [forcePageBreak]="'.page-break'"
    #pdf
  >
    <ng-template kendoPDFTemplate>
      <app-pdf-frame [scale]="scale"></app-pdf-frame>
    </ng-template>
    <div class="multilayer-table" *ngFor="let category of categories">
      <div class="multilayer-row" #category>
        <span class="category">{{category.account}}</span>
        <span class="currency">{{category.currency}}</span>
        <span class="value">{{category.value}}</span>
      </div>
      <div *ngFor="let sub of category.sub">
        <div class="multilayer-row inner" #subCategory>
          <span class="category">{{sub.trans}}</span>
          <span class="currency">{{sub.currency}}</span>
          <span class="value">{{sub.value}}</span>
        </div>
        <table class="table">
        <thead class="table-head" #header>
          <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
          </tr>
        </thead>
        <tbody *ngFor="let elem of sub.assets" #body>
            <tr>
              <th>{{elem.asset}}</th>
              <th>{{elem.value}}</th>
              <th>{{elem.currency}}</th>
              <th>{{elem.marketValue}}</th>
              <th>{{elem.loan}}</th>
              <th>{{elem.collateral}}</th>
              <th>{{elem.collateral2}}</th>
            </tr>
        </tbody> 
        </table>
      </div>
    </div>
  </kendo-pdf-export>
</body>
</html>