body {
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100vw;
    text-align: center;
}

.multilayer-table th:first-child, .multilayer-table td:first-child {
    padding-left: 0;
}

.multilayer-table {
    width: 100%;
    height: 100%;
    clear: both;
    background-color: transparent;
    border-collapse: collapse;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow-y: visible;

    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 0 2px 0;
        overflow-y: hidden;

    

        th {
            padding-left: 8px;
            padding-bottom: 2px;
            border-bottom: 3px solid grey;
            font-size: 13px;
            line-height: 19px;
            padding-right: 0;
            pointer-events: none;
        }

        td {
            padding: 5px 0 5px 0;
            vertical-align: top;
        }

        tr {
            border: none;
            border-bottom: 1px solid grey;
            border-radius: 0;
            line-height: 20px;
            font-size: 14px;
        }

        td,th { 
            padding: 8px 8px 7px 8px;
            border: none;
            background: none;
            background-color: transparent;
        }

        thead {
            border-top: none;
            background-color: transparent;

            th,td {
                vertical-align: bottom;
                padding-bottom: 2px;
                border-top: none;
                border-bottom: 3px solid grey;
            }
        }
    }
}

.multilayer-row {
    background-color: gold;
    display: flex;
    flex-direction: row;
    padding: 8px 18px 8px 15px;
    justify-content: space-between;
    margin: 0 0 2px 0;
    text-transform: uppercase;

    &.inner {
        background-color: yellow;
    }
}

.pdf-button {
    padding: 8px 18px 8px 15px;
    margin-bottom: 18px;
    background-color: beige;
    border: none;
}