.wrap {
    --scale: 1;
    color: white;
}


.pdf-logo {
    position: absolute;
    height: calc(44px * var(--scale));
    left: calc(44px * var(--scale));
    background-color: blue;
    width:  calc(90px * var(--scale));
    height: calc(120px * var(--scale));
    top: 0;
    text-align: center;
}

.pdf-disclaimer {
    position: absolute;
    right: calc(63px * var(--scale));
    top: 0;
    width:  calc(120px * var(--scale));
    height: calc(90px * var(--scale));
    background-color: blue;
    text-align: center;
}

.pdf-side {
    position: absolute;
    width: calc(33px * var(--scale));
    right: 0;
    bottom: calc(44px * var(--scale));
    background-color: blue;
    text-align: center;

}

.pdf-footer-disclaimer {
    position: absolute;
    right: calc(44px * var(--scale));
    left: calc(44px * var(--scale));
    bottom: 0;
    height: calc(44px * var(--scale));
    width: 100%;
    background-color: blue;
    text-align: center;
}