<div class="wrap" #wrap>
    <div class="pdf-logo">LOGO</div>
    <div class="pdf-disclaimer">DISCLAIMER</div>
    <div class="pdf-side">SIDE</div>
    <div class="pdf-footer-disclaimer">FOOTER</div>
</div>